<a href="https://colab.research.google.com/github/justorfc/Estadistica_Aplicada/blob/main/Primera_Sesi%C3%B3n_con_R_y_Vectorizaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRIMERA SESION CON R Y VECTORIZACION

# Directorio o carpeta de trabajo



```
?setwd
setwd("c:/agregados")
getwd()
dir()

```

# Almacenamiento y eliminación de objetos.

```r
x = 23
y = 12
z = 12.56

typeof(x)

objects()
ls()
ls.str()
rm(x, y, z)
rm(list=ls())
```

# Mode

```
X=1:20
mode(x)
length(x)
s = "Arcilla"; lluvia = TRUE; z = 1i
mode(s); mode(lluvia); mode(z)
```

# Cálculos sencillos. Números y vectores. Aritmética vectorial

```
3+2
5*8
8/3
4^2
sqrt(24)
abs(-25)

x=1:5
y=5:1
x + y
x - y
x * y
x / y
x ^ y
x %% y   # Residuo o módulo
x %/% y   # División Entera
x = c(10.4, 5.6, 3.1, 6.4, 21.7)
1/x
y = c(x, 0, x)
v = 2*x + y + 1
a=12
b=a+21
c=a*b
d=a/b^2
z=sqrt(d)
log(a)
exp(a)
```

# Funciones Estadísticas

```
x = c(10.4, 5.6, 3.1, 6.4, 21.7)
?max
max(x)
min(x)
range(x)
sum(x)
prod(x)
length(x)
summary(x)
```

# Ordenación

```
x=c(100,25, 32,15,18,95,74,35)
sort(x)
x
y=sort(x)
y
```

# Funciones trigonométricas

```
r=pi/180
sin(90)
sin(90*r)
cos(90)
cos(90*r)
tan(45)
tan(45*r)
```

# Generación de sucesiones

```
x <- 1:30
```
# La función seq() puede generar secuencias de números reales:

```
?seq
seq(1, 5, 0.5)
seq(length=9, from=1, to=5)
rep(1, 30)
```

# FUNCION gl().Generate Factor Levels. Generate factors by specifying the pattern of their levels.

```
?gl
gl(3, 5)
gl(3, 5, length=30)
gl(2, 6, label=c("Macho", "Hembra"))
gl(2, 10)
gl(2, 1, length=20)
gl(2, 2, length=20)

```

# Marcos de datos.

```
?expand.grid
expand.grid(a=c(60,80), p=c(100, 300), sexo=c("Macho", "Hembra"))
expand.grid(altura = seq(60, 80, 5), peso = seq(100, 300, 50), sexo = c("M","F"))
x = seq(0,10, length.out=100)
y = seq(-1,1, length.out=20)
d1 = expand.grid(x=x, y=y)
d2 = expand.grid(x=x, y=y, KEEP.OUT.ATTRS = FALSE)
object.size(d1) - object.size(d2)

x <- 1:4; n <- 10; M <- c(10, 35); y <- 2:4
data.frame(x, n)
```

# Funciones cbind, y rbind

```
? cbind
? rbind

L3 <- LETTERS[1:3]
(d <- data.frame(cbind(x=1, y=1:10), fac=sample(L3, 10, replace=TRUE)))
d <- data.frame(cbind(x=1, y=1:10), fac=sample(L3, 10, replace=TRUE))
data.frame(cbind(  1,   1:10),     sample(L3, 10, replace=TRUE))
is.data.frame(d)
(dd <- cbind(d, char = I(letters[1:10])))
rbind(class=sapply(dd, class), mode=sapply(dd, mode))

m <- cbind(1, 1:7)  
m
m <- cbind(m, 8:14)[, c(1, 3, 2)] # inserta una columna
m

cbind(1:7, diag(3))	# vector is subset -> warning
cbind(0, rbind(1, 1:3))
cbind(I=0, X=rbind(a=1, b=1:3))  # use some names
xx <- data.frame(I=rep(0,2))
cbind(xx, X=rbind(a=1, b=1:3))   # named differently
```

# Guardando datos. La función write.table()

```
x = matrix(1:10,ncol=5)
write(x, file="Ejercicio1.txt")		# Ojo con las comillas
```

In [ ]:
matriz= expand.grid(a=c(60,80), p=c(100, 300), sexo=c("Macho", "Hembra"))
x = matrix(1:10,ncol=5)
write(x,file = "matriz.txt")

In [ ]:
# Mirar que conjuntos de datos (data.frame) existen
data()

In [ ]:
library(MASS)
Boston[1:5,"medv"]

# VECTORIZACION

R no solo maneja vectores numéricos, sino también lógicos. Los elementos de un vector lógico sólo pueden tomar dos valores: FALSE (falso) y TRUE (verdadero). Estos valores se representan también por F y T. (R DevelopmentCoreTeam)

VECTORES LOGICOS.

Los vectores lógicos aparecen al utilizar condiciones. Por ejemplo,

```
x = c(5,3,8,10,2,4,3,6,11,21)
y = x<5
y

y = x == 3
y
```

Se pueden generar vectores lógicos utilizando
expresiones lógicas y/o relacionales,
recordando que en R el operador lógico AND es &
y | es el operador lógico OR.

# Los operadores lógicos son
# < (menor que),
# <= (menor o igual que),
# > (mayor que),
# >= (mayor o igual que),
# == (igual que), y
# != (distinto que).
# Además, si c1 y c2 son expresiones lógicas, entonces:
# c1&c2 es su intersección (conjunción),
# c1|c2 es su unión (disyunción) y
# !c1 es la negación dec1. (R DevelopmentCoreTeam)

# VECTORES DE ÍNDICES. SELECCIÓN Y MODIFICACIÓN DE SUBVECTORES
# (R DevelopmentCoreTeam)
#
# Puede seleccionar un subvector de un vector
# añadiendo al nombre del mismo un vector de índices
# entre corchetes, [ y ].
# En general podrá obtener un subvector de cualquier
# expresión cuyo resultado sea un vector,
# sin más que añadirle un vector de índices
# entre corchetes.
#
# Los vectores de índices pueden ser de cuatro tipos distintos:
#   
# 1. Un vector lógico. En este caso el vector
# de índices debe tener la misma longitud que
# el vector al que refiere. Sólo se seleccionarán
# los elementos correspondientes a valores del
# vector de índices y se omitirá el resto.
# Por ejemplo,

```
y=x>5&x<10
x[y]
```

In [ ]:
y=x>=5 | x<=10
x[y]

# 2. Un vector de números naturales positivos.
# En este caso los elementos del vector de índices
# deben pertenecer al conjunto
# {1, 2, . . . , length(x)}.
# El resultado es un vector formado por los elementos
# del vector referido que corresponden a estos
# índices y enel orden en que aparecen en el vector
# de índices. El vector de índices puede tener
# cualquier longitud y el resultado será de esa
# misma longitud.
# Por ejemplo, x[6] es elsexto elemento de x,
# y x[1:10] es el vector formado por los diez
# primeros elementos de x,
# (supuesto que length(x) no es menor que 10).  

# 3. Un vector de números naturales negativos.
# En este caso, los índices indican los elementos
# del vector referido que deben excluirse.
# Así pues,

```
y = x[-(1:5)]
y
```

In [ ]:
x

In [ ]:
y = x[(1:5)]
y

In [ ]:
x[4:7]

# 4. Un vector de caracteres. Esta opción solo puede
# realizarse si el vector posee (nombres) para
# identificar sus componentes, en cuyo caso se
# comportará de modo similar al punto 2.

```
fruta= c(5, 10, 1, 20)
names(fruta) = c("naranja", "plátano", "manzana", "pera")
postre= fruta[c("manzana","naranja")]
```

# Problema: Se tiene una lista numerada de
# personas que practican diferentes deportes;
# b=basket,f=football y v=voley.
# Se quiere saber quiénes y cuántos practican
# cada uno de los deportes.

```
play= c("f","b","f","v","b","v","b","f","v","b","v","b")
# extraer los que juegan basquet
lista = data.frame(Id=1:12,play)
ob = lista[,2]=="b"
lista[ob,]
# Contabilizar
nrow(lista[ob,])

# Examine las siguientes órdenes
play=="b"
play.b<- play[play=="b"]
play.b
length(play.b)
```

In [ ]:
play= c("f","b","f","v","b","v","b","f","v","b","v","b")
play

In [ ]:
lista = data.frame(Id=1:12,play)
lista

In [ ]:
# Establece el criterio de los que juegan b
ob = lista[,2]=="b"

In [ ]:
lista[ob,]

# LA FUNCIÓN subset() de R para extraer
# subconjuntos de datos para cada valor
# de la temperatura.
# Cargue el documento humedades,
# seleccione y copie todos los datos,
# luego lance las siguientes ordenes:

# FUNCIONA SOLO EN WINDOWS

```
h=read.delim("clipboard")
attach(h)
h40=subset(h,temperatura==40)
write.table(h40,"clipboard",sep="\t",col.names=NA)
# En excel pegue con Ctrl+V.
```

In [ ]:
names(Boston)

In [ ]:
subset(Boston, medv < mean(Boston$medv) )

In [ ]:
summary(Boston$medv)

# RESUMIENDO INFORMACION APLICANDO FUNCIONES DE
# RESUMEN SOBRE SUBCONJUNTOS DE DATOS CREADOS
# SEGÚN VARIABLES DE AGRUPACION O FACTORES
[FUNCION: aggregate()](http://r-econ.blogspot.com/2013/11/funcion-aggregate-ejemplos.html)

# Función aggregate: Ejemplos

En R es fácil resumir información a partir de aplicación de funciones sobre los subgrupos creados según las variables de agrupación (factor o numérica) por las cuales se desean hacer las agrupaciones. Es posible hacer esto con una gran variedad de funciones (aggregate, split, by, tapply y con otras funciones del paquete plyr), sin embargo este post sólo trata de la función aggregate porque está en el paquete base de R y es muy manejable.

Según la documentación de la función aggregate, esta función divide la muestra en subconjuntos, calcula los estadísticos deseados por cada subconjunto y devuelve el resultado en una forma conveniente, esto significa que el resultado puede ser un vector, un data.frame o una lista según sea más conveniente.

A continuación, algunos ejemplos usando la base datos iris.

In [ ]:
data(iris) # cargando la base de datos `iris`

head(iris) # así lucen los datos.

# Nota En todo este parte se usará la notación de fórmula dentro de la función aggregate donde la lógica es escribir al lado izquierdo del símbolo ~ la variable que se quiere agrupar y al lado derecho, la variable de agrupación: variable_a_ser_agrupada ~ variable_de_agrupación. Así la sintaxis entera será:

```
aggregate(variable_a_ser_agrupada ~ variable_de_agrupación, FUN=función_deseada, data=base_de_datos)
```

# Ejemplo 1

Calculando la suma de Sepal.Length por Species, como ha de esperarse, el resultado final será un data.frame con la suma total de la variable Sepal.Length por cada especie contenida en la variable Species.

```
aggregate(Sepal.Length ~ Species, FUN = sum, data = iris)
```

# Ejemplo 2

Una facilidad que permite la función aggregate es que se pueden resumir más de una variable, veamos la suma de todas las demás varibles según la especie.

```
aggregate(cbind(Sepal.Length, Sepal.Width, Petal.Length, Petal.Width) ~ Species, FUN = sum, data = iris)
```

# Nótese que cuando se quieren “agregar” muchas variables es necesario usar la función cbind para que funcione. Sin embargo, no es muy práctico escribir el nombre de cada variable como se muestra en el ejemplo anterior, pero como se está utilizando el estilo de “fórmula” para escribir dentro de la función aggregate esta permite reemplazar lo anterior por este nuevo código:

```
aggregate(. ~ Species, FUN = sum, data = iris)
# y como ha de esperarse, los resultados son los mismos
```

# Ejemplo 3

¿Qué tal si tuviéramos más de 1 variable de agregación, por ejemplo Species y Petal.Size?, Esto no representa ningún problema para aggregate, veamos un ejemplo.

Primero se ha de crear la nueva variable Petal.Size que indica si la longitud del pétalo (Petal.Length) es mayor que su valor mediano (4.350 cm) tendrá el valor Bigy si es menor o igual, será Small.

```
iris$Petal.Size <- with(iris, ifelse(Petal.Length > median(Petal.Length), "Big", "Small"))

aggregate(Petal.Length ~ Species + Petal.Size, FUN = sum, data = iris)  
# resultado sólo para Petal.Length

aggregate(. ~ Species + Petal.Size, FUN = sum, data = iris)  
# resultado para todos
```

# Ejemplo 4 (un truco sencillo)

¿Y si en lugar de sólo querer la suma, quiero además la media y desviación estándar de los datos de Petal.Length agrupados por Species?, Esto se puede hacer sin ningún problema.

```
resultado <- aggregate(Petal.Length ~ Species, FUN = function(x) c(Suma = sum(x), Media = mean(x), SD = sd(x)), data = iris)  

resultado
```

# A pesar que el resultado mostrado es el adecuado, en realidad, no es muy útil si se desea guardar para luego volverlo a usar, porque en realidad el output de este último ejemplo es un data.frame que debería tener la información calculada, pero si intentamos acceder a esa info a través de su nombre o su posición nos dice que no existe tal información!!! :(

```
resultado[, "Petal.Length.Suma"]
# Error en `[.data.frame`(resultado, , 3) : undefined columns selected :(

resultado[, "Petal.Length.Media"]
# Error en `[.data.frame`(resultado, , 3) : undefined columns selected :(

resultado[, 3]
# Error en `[.data.frame`(resultado, , 3) : undefined columns selected :(
```

# hay una sencilla solución para ello, basta con convertir esto a un data.frame usado la función do.call

```
resultado2 <- do.call(data.frame, resultado)
```

# Aparentemente no ha habido ningún cambio respecto a lo anterior, sin embargo, ahora sí se pueden acceder a los datos de las columnas, porque ahora sí existen!!!

```
resultado2[, "Petal.Length.Suma", drop = FALSE] # Sí funciona!!!

resultado2[, "Petal.Length.Media", drop = FALSE] # Sí funciona!!!  

resultado2[, 3, drop = FALSE] # Sí funciona!!!
```

# CONJUNTO DE DATOS Airquality
New York Air Quality Measurements

**Description **
Daily air quality measurements in New York, May to September 1973.

**Usage **
airquality

**Format**
A data frame with 154 observations on 6 variables.

# CONVERSIONES

1 Langley/day = 0.484583 Watt/m2

1 Millapor hora = 0.447 m/s

ºC= (°F - 32) x ( 5 / 9)

ºF = (°C X 9 / 5) + 32

# FUNCION subset ()

```
airquality
subset(airquality, Temp > 80, select = c(Ozone, Temp))
subset(airquality, Day == 1, select = -Temp)
subset(airquality, select = Ozone:Wind)
```

# MATRICES DE DISPERSIÓN

# Función pairs()

Produce una matriz de dispersión.  

Uso:
pairs(x, ...)

# EJEMPLOS:

```
aire=airquality
names(aire)=c("oz","rs","vv","t","mes","dia")
names(aire)
summary(aire)
attach(aire)
pairs(airquality, panel = panel.smooth, main = "airquality data")
pairs(aire)
pairs(~rs+t)
pairs(~rs+t+vv)
pairs(~rs+t+vv,data=aire,subset=mes==5)
pairs(aire[1:3])
airquality
subset(airquality, Temp > 80, select = c(Ozone, Temp))
subset(airquality, Day == 1, select = -Temp)
subset(airquality, select = Ozone:Wind)
```

# EJERCICIOS

1. Cambie los nombres de las variables del conjunto de datos airquality. Haga resúmenes de Temperaturas en grados centígrados, radiación solar en w/m², velocidad del viento en m/s para cada mes
2. Copie Agregados_Muestreo.xls e impórtelo hacia R
3. Obtenga subconjuntos para cada formación geológica (fgeo), vectorizando y con subset
4. Describa las variables rcompa y rcompc para cada formación geológica (fgeo)
5. Describa las variables rcompa y rcompc para cada zona.

# Utilice las funciones min(), max(), mean(), summary()
6. Describa el conjunto de datos de las concentraciones de mercurio por tratamiento y bloques del profesor Luis Dias

    6.1 Utilice el paquete lattice [install.packages(“lattice”)] y grafique con las funciones:
    + xyplot(x, data, ...)
    + dotplot(x, data, ...)
    + barchart(x, data, ...)
    + stripplot(x, data, ...)
    + bwplot(x, data, ...)
    
    6.2 Reemplace x por las expresiones: `hg~tto|bloque`

    6.3 Reemplace x por las expresiones: `hg~bloque|tto`
    
    6.4 Resuma y describa los subconjuntos de datos del mercurio para el: Tratamiento 3. Suelo con concentración de mercurio 21,76 µgHg/g. Utilice la función `subset(x,tto==”T3”)`.

7. Describa el conjunto de datos de las concentraciones de mercurio por especie, días y región del profesor Enaldo Garrido. Igual que en el ejercicio anterior.